.selected {
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  font-size: 18px;
  color: #fff;
  text-align: center;
  background: #5f27cd
}

.cursor-pointer {
  cursor: pointer;
}

.search {
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 5px;
}



.result {
  font-size: 18px;
  color: grey;
  cursor: pointer;
  padding: 5px 0px
}