.carousel-img {
  height: calc(100vh - 172px);
  width: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}



.inputfield {
  padding : 10px 15px;
  width: 100%;
  border-radius: 5px;
}

.button {
  padding: 12px 20px;
  background-color: #642adb;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.button-disabled {
  padding: 12px 20px;
  background-color: lightgrey;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  color: rgb(46, 46, 46);
  font-weight: 600;
}

.field-title {
  font-size: 1.5rem;
  color: white;
}

input:focus{
  outline: none;
}

.error-text {
  color: #eb4d4b;
  font-size: 1rem;
}
.pageName {
  color: white;
  font-weight: 600;
  transform: translateY(-80px);
}
.pageName-mobile {
  color: white;
  font-weight: 600;
  transform: translateY(-20px);
}